:root {
  --color-navy: #2e2f42;
  --color-navy-transparent: #2e2f4266;
  --color-black: #2f2f37;
  --color-black-transparent: #0000001a;
  --color-light-black: #00000026;
  --color-white: #ffffff;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-iris: #4d5ae5;
  --color-slate: #434455;
  --color-lightslate: #8e8f99;
  --color-ocean: #404bbf;
  --color-grey: #2e2f42;
  --color-green: #31d0aa;
  --color-dairy: #fcfcfc;
}

body {
  color: var(--color-slate);
  background-color: var(--color-white);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  border-bottom: 1px solid var(--color--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 0 18px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  max-width: 320px;
  height: 56px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo,
.nav-logo-footer {
  color: var(--color-iris);
}

.logo-studio-header {
  color: var(--color-navy);
}

.nav-logo,
.nav-logo-footer,
.logo-studio-header,
.logo-studio-footer {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
  color: var(--color-ocean);
}

.navigation-link.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  color: var(--color-ocean);
  background-color: var(--color-ocean);
  text-decoration-color: var(--color-ocean);
}

.current {
  position: relative;
  color: var(--color-ocean);
}

.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
  color: var(--color-ocean);
}

.order {
  min-width: 320px;
  max-width: 100%;
  height: 432px;
  padding: 72px 0;
  flex-shrink: 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgrounds/background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--color-navy);
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.first-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  max-height: 160px;
  color: var(--color-white);
}

.order-button {
  display: block;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin: 0 auto;
  color: var(--color-white);
  background-color: var(--color-iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus .order-button:active {
  background-color: var(--color-ocean);
}

.advantages {
  padding: 96px 0;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 72px;
}

.advantages-list-item {
  width: 100%;
}

.advantages-card {
  display: none;
}

.second-title {
  color: var(--color-navy);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.advantages-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.advantages-title {
  color: var(--color-navy);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}

.team {
  background-color: var(--color-cloud);
  padding: 96px 0;
}

.team-members-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-members-item {
  margin-left: auto;
  margin-right: auto;
  width: 264px;
  background-color: var(--color-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.member-description {
  padding: 32px 0;
}

.text,
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.member-position {
  text-align: center;
  margin-bottom: 8px;
}

.member-name {
  text-align: center;
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 24px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-iris);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus,
.socials-link:active {
  background-color: var(--color-ocean);
}

.socials-icon {
  fill: var(--color-cloud);
}

.portfolio {
  padding: 96px 0;
}

.portfolio-examples-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}

.portfolio-examples-item {
  border: 1px solid var(--color-cornflower);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-examples-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.example-image {
  position: relative;
  overflow: hidden;
}

.example-overlay {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--color-cloud);
  background-color: var(--color-iris);
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-examples-item:hover .example-overlay {
  transform: translateY(0);
}

.example-description {
  padding: 32px 16px;
  border-top: none;
}

.third-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--color-navy);
}

/*FOOTER*/
/*FOOTER INFO*/

.footer {
  padding: 96px 0;
  min-width: 320px;
  height: 664px;
  flex-shrink: 0;
  background-color: var(--color-navy);
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 72px;
}

.nav-logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-studio-footer {
  color: var(--color-cloud);
}

.footer-text {
  color: var(--color-cloud);
  max-width: 288px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/*FOOTER SOCIALS*/

.footer-socials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 72px;
}

.socials-text {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-iris);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus,
.footer-socials-link:active {
  background-color: var(--color-green);
}

/*FOOTER FORM*/

.footer-subscribe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.footer-subscribe-text {
  margin-bottom: 16px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-subscribe-form-input {
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--color-white);
}

.footer-subscribe-form-input::placeholder {
  color: var(--color-white);
}

.footer-subscribe-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-iris);
  border: none;
  border-radius: 4px;
}

.footer-subscribe-form-icon {
  margin-left: 16px;
  fill: var(--color-white);
}

/*MODAL WINDOW*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-navy-transparent);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 16px 16px;
  background-color: var(--color-dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-color: transparent;
  padding: 0px;
  line-height: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  fill: var(--color-navy);
  background-color: var(--color-cornflower);
  border: 1px solid var(--color-black-transparent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-button:hover,
.modal-window-close-button:focus,
.modal-window-close-button:active {
  fill: var(--color-white);
  background-color: var(--color-ocean);
  border: none;
}

.modal-window-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-description {
  max-width: 256px;
  color: var(--color-navy);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-window-label {
  display: block;
  color: var(--color-lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-window-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--color-navy-transparent);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-input:focus {
  outline-color: transparent;
  outline-offset: 2px;
  border-color: var(--color-iris);
}

.modal-window-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  color: var(--color-navy-transparent);
  border: 1px solid var(--color-navy-transparent);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-field {
  margin-bottom: 8px;
}

.modal-window-field-textarea {
  margin-bottom: 16px;
}

.modal-window-input-wrapper {
  position: relative;
}

.modal-window-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-input:focus + .modal-window-input-icon {
  fill: var(--color-iris);
}

.modal-window-textarea:focus {
  outline-color: transparent;
  outline-offset: 2px;
  border-color: var(--color-iris);
}

.modal-window-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  border: 1px solid var(--color-navy-transparent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-checkbox-label {
  display: flex;
  align-items: center;
  color: var(--color-lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.privacy-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--color-iris);
  text-decoration-line: underline;
}

.modal-window-checkbox:checked
  + .modal-window-checkbox-label
  .modal-window-custom-checkbox {
  background-color: var(--color-ocean);
  fill: var(--color-cloud);
  border: none;
}

.modal-window-submition {
  width: 169px;
  height: 56px;
}

.modal-window-submition-button {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 16px 32px;
  margin: 24px auto 0;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px 0px var(--color-light-black);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*ADAPTIVITY*/

@media only screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }

  .contacts {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-open-button {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    line-height: 0;
    fill: var(--color-black);
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 72px;
    height: 100%;
    padding-bottom: 40px;
  }

  .mobile-menu-close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 16px;
    right: 16px;
    background-color: transparent;
    padding: 0;
    border: none;
    line-height: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 50%;
    fill: var(--color-navy);
    background-color: var(--color--cornflower);
    border: 1px solid var(--color-black-transparent);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-button:hover,
  .mobile-menu-close-button:focus,
  .mobile-menu-close-button:active {
    fill: var(--color-white);
    background-color: var(--color-ocean);
    border: none;
  }

  .mobile-menu-navigation {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .mobile-menu-navigation-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--color-navy);
  }

  .mobile-menu-navigation-link:hover,
  .mobile-menu-navigation-link:focus,
  .mobile-menu-navigation-link:active {
    color: var(--color-iris);
  }

  .mobile-menu-navigation-link.current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    color: var(--color-ocean);
    text-decoration-color: var(--color-ocean);
  }

  .current {
    position: relative;
    color: var(--color-ocean);
  }

  .mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-menu-contact {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-slate);
  }

  .mobile-menu-phone {
    color: var(--color-iris);
  }

  .mobile-menu-contact:hover,
  .mobile-menu-contact:focus,
  .mobile-menu-contact:active {
    color: var(--color-iris);
  }

  .mobile-menu-socials-list {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 40px;
    right: 16;
  }

  .mobile-menu-socials-item {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: var(--color-iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-socials-link:hover,
  .mobile-menu-socials-link:focus,
  .mobile-menu-socials-link:active {
    background-color: var(--color-green);
  }

  .contacts-socials-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: auto;
  }
}

@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
  .order {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgrounds/background-mobile2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .navigation,
  .contacts {
    display: flex;
  }

  .order {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgrounds/background-tablet.jpg);
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-open-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }

  .nav-logo {
    margin-right: 120px;
  }

  .navigation-link {
    color: var(--color-navy);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.32px;
    padding: 15px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts {
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--color-slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order {
    height: 436px;
    padding: 112px 0;
  }

  .order-container {
    gap: 36px;
  }

  .first-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    max-height: 120px;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    row-gap: 72px;
    column-gap: 24px;
  }

  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-title {
    text-align: left;
  }

  .team {
    padding: 96px 0;
  }

  .team-members-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-members-item {
    margin-left: 0;
    margin-right: 0;
    width: calc((75% - 24px) / 2);
  }

  .portfolio-examples-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-examples-item {
    width: calc((100% - 24px) / 2);
  }

  .footer {
    min-width: 768px;
    height: 456px;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-container {
    flex-direction: row;
    align-items: baseline;
    max-width: 584px;
  }

  .footer-info {
    margin-right: 24px;
  }

  .footer-socials {
    align-items: baseline;
  }

  .footer-info {
    align-items: flex-start;
  }

  .footer-subscribe {
    align-items: baseline;
  }

  .footer-subscribe-form {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .footer-subscribe-form-input {
    width: 264px;
  }

  .modal-window {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }

  .modal-window-description {
    max-width: 360px;
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
  .order {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgrounds/background-tablet2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .nav-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 400;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order {
    height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgrounds/background-desktop.jpg);
  }

  .order-container {
    gap: 48px;
  }

  .advantages {
    padding: 120px 0;
  }

  .advantages-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .advantages-list {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 24px;
  }

  .advantages-list-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: var(--color-cloud);
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid var(--color-lightslate);
    margin-bottom: 8px;
  }

  .advantages-text {
    font-weight: 400;
  }

  .team {
    padding: 120px 0;
  }

  .team-members-list {
    flex-direction: row;
    gap: 24px;
  }

  .team-members-item {
    width: calc((100% - 72px) / 4);
  }

  .portfolio-examples-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-examples-item {
    width: calc((100% - 48px) / 3);
  }

  .footer {
    padding: 100px 0;
    min-width: 1158px;
    height: 312px;
  }

  .footer-container {
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
  }

  .footer-info {
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-socials {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .footer-subscribe {
    flex-wrap: nowrap;
    align-items: baseline;
    height: 112px;
  }

  .footer-subscribe-form {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
}

@media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
  .order {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/backgrounds/background-desktop2x.jpg);
  }
}
